.aidm-help-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    /*transition: all 400ms;*/
}

.aidm-help-container {
    margin: auto;
    width: 100%;
    max-width: 600px;
    max-height: 60%;
    background-color: #f9f9f9;
    padding: 0 20px 20px;
    border-radius: 8px;
    overflow-y: scroll;
}

.aidm-help-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-bottom: 1px solid gray;
}

#aidm-close-help {
    width: 20px;
    transition: all 400ms;
}

#aidm-close-help:hover {
    opacity: 0.5;
    cursor: pointer;
}

.aidm-help-img-container {
    margin: 0 auto;
    max-width: 300px;
}

.aidm-help-img {
    width: 100%;
}

.aidm-help-content-section {
    margin-top: 50px;
}

.aidm-help-container p {
    padding: 0 20px;
    font-size: 15px;
}

.aidm-help-gif-container {
    width: 50%;
    margin: 0 auto;
    
}
